html,
body {
  overflow: hidden;
  background-color: #0d0d0d;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  text-align: center;
}

/*Wait routine container*/

#message-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  background-color: #1a1a1a;
  padding: 6vw;
  border-radius: 1vw;
  border: 0.01vw solid #e7ebda;
}

#message-box img {
  width: 15vw;
  background: #e7ebda;
  border-radius: 1vw;
}

#message-box h1 {
  color: #e7ebda;
  font-size: 3vw;
  font-weight: bold;
  margin-top: 1vw;
  margin-bottom: 0;
}

#waiting {
  font-size: 2vw;
  font-weight: 400;
  color: #d9d9d9;
  margin: 3vw 0;
  transition: all 0.3s ease-in-out;
}

button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #e7ebda;
  color: #0d0d0d;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.is-hidden {
  display: none !important;
}

/*Routine container*/

#routine-container {
  position: absolute;
  width: 42vw;
  min-width: 30vw;
  max-width: 95vw;
  top: 0;
  right: 0;
  left: 100%;
  transform: rotate(90deg);
  transform-origin: top left;
  background-color: #1a1a1a;
  border-radius: 1vw;
  padding: 1.5vw 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 0.4vw;
}

.routine-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

/*logo gym*/
.routine-header img {
  width: 7.5vw;
  background-color: #e7ebda;
  border-radius: 0.5vw;
}

/*Coach info*/
.coach-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.coach-info img {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  margin-right: 0.5vw;
  background-color: #1a1a1a;
}

.coach-info span {
  font-size: 1.75vw;
  font-weight: lighter;
  color: #e7ebda;
}

/*Routine info*/
#routine-container h1 {
  color: #e7ebda;
  font-size: 2.5vw;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

#routine-container h2 {
  color: #d9d9d9;
  font-size: 1vw;
  margin-top: 0;
  margin-bottom: 1vw;
}

/*warmup section*/
#routine-container .warmup-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  padding: 0;
  height: auto;
  margin-bottom: 1vw;
}

#routine-container .warmup-section h2 {
  font-size: 1.5vw;
  color: #e7ebda;
  margin-top: 0;
  margin-bottom: 0.5vw;
}

#routine-container .warmup-section ul {
  width: 100%;
  padding: 0;
  margin: 0;
}

#routine-container .warmup-section li {
  list-style-type: none;
  width: 100%;
  padding: 0;
  text-align: center;
  font-size: 1.25vw;
  font-weight: 400;
  color: #d9d9d9;
  margin-bottom: 0.5vw;
}

/*blocks section*/

.block {
  border: 0.1vw solid #595959;
  border-radius: 0.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1vw 0;
  padding: 0.75vw;
  width: 100%;
}

.block h3 {
  font-size: 1.5vw;
  margin-top: -1em;
  background-color: #1a1a1a;
  width: fit-content;
  margin-bottom: 0;
  padding: 0 10px;
  color: #e7ebda;
}

.block ul {
  width: 100%;
  padding: 0;
  margin: 0;
}

.block li {
  list-style-type: none;
  width: 100%;
  height: 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #d9d9d9;
  font-size: 1.5vw;
  font-weight: 100;
}

/*video box*/
.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25vw;
  overflow: hidden;
}

.video-container video {
  width: 8.5vw;
  height: auto;
  border-radius: 0.25vw;
}
