html,
body {
  overflow: hidden;
  background-color: #0d0d0d;
  color: #e7ebda;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  text-align: center;
}
img {
  width: 180px;
  background: #ffffff;
  border-radius: 30px;
}
#message-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  background-color: #1a1a1a;
  padding: 40px 60px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
  border: 2px solid #e7ebda;
}
h1 {
  color: #e7ebda;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0px;
}
#waiting {
  font-size: 2em;
  font-weight: 400;
  color: #d9d9d9;
  margin: 30px 0;
  padding: 15px 30px;
  transition: all 0.3s ease-in-out;
}
button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #e7ebda;
  color: #0d0d0d;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.is-hidden {
  display: none !important;
}
#routine-container {
  position: absolute;
  width: 40%;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  background-color: #1a1a1a;
  padding: 10px 60px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
  border: 2px solid #e7ebda;
}
h2 {
  color: #d9d9d9;
  font-size: 0.75em;
  margin-top: 0;
}
.routine-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.routine-header img {
  width: 6em;
}

.routine-header h3 {
  font-size: 1em;
  font-weight: lighter;
  margin-top: 0;
}
